extends /layout.jade

block content
    .card
        h2 New Question
        form(action="/admin/questions" method="POST")
            label(for="question[question]") Question
            input(name="question[question]" type="text")

            br
            #answers-form-container
                label(for="question[answers][0][answer]") Answer 1
                input(name="question[answers][0][answer]" type="text")
                
            p
                a(href="#" id="add-answer") + Add answer

            br
            input(type="submit" value="Create Question")
                        
